/.idea
/public/*
!public/.gitkeep
/uploads/
/vip/
/vip-config/env/local.php
/vip-go-mu-plugins/
/logs/
/*.log
/composer.lock
/wp-config.php
/wp-cli.yml
/vendor

/.docker/docker-compose.override.yml
/.docker/data/*
!/.docker/data/db/.gitkeep
!/.docker/data/composer/.gitkeep
!/.docker/data/logs/.gitkeep

/.scripts/vendor
/.scripts/plugin/vendor
/.scripts/plugin/composer.lock

studio.json
/packages/*
!/packages/.gitkeep